<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="list-inline">
                    <li>
                        <a href="#home">Theano</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">LISA</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                      <p class="copyright text-muted small">Copyright &copy; {{ site.title }} All Rights Reserved</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
              <p class="copyright text-muted small text-right">
                Credits: Landing Page is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com/">Start Bootstrap</a>.
              </p>
            </div>
        </div>
    </div>
</footer>
